body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header a {
    color: #fff;
    text-decoration: none;
}

h2 {
    color: #333;
}

section {
    padding: 20px;
}

section#skills p, section#certifications ul {
    margin-top: 0;
}

ul {
    list-style-type: none;
}

li::before {
    content: "• ";
    color: #333; /* Bullet color */
}

a {
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
